<article class="tile is-child notification is-5 is-primary" style="margin: 1rem !important;">
  <p class="title">{{ article.reference.label }}</p>
  <p class="subtitle is-spaced">{{ article.reference.kind }}</p>
  <p class="subtitle is-spaced">file {{ article.reference.file }}</p>
  <p class="subtitle">Audience : {{ article.audience }}</p>
  <p class="subtitle">Prix unitaire : {{ article.price }}</p>
  <p class="subtitle">Crée :<time>{{ article.created }}</time></p>
  <div class="field is-grouped">
    <p class="control">
      <a class="button is-info" href="{% url 'update-article' pk=article.pk %}">
        Modifier
      </a>
    </p>
    <p class="control">
      <a class="button is-danger" href="{% url 'delete-article' pk=article.pk %}">
        Supprimer
      </a>
    </p>
  </div>
</article>
