{% load static %}
<!-- Hero head: will stick at the top -->
<div class="hero-head">
  <header class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'home' %}">
          Accueil
        </a>
        <span class="navbar-burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
      </div>
      <div id="navbarMenuHeroC" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {% if user.is_authenticated %}
                {% if "dashboard" in request.path %}
                  <a class="button is-primary is-light" href="{% url 'add-article' %}">Ajouter un article</a>
                  <a class="button is-warning is-light" href="{% url 'add-references' %}">Ajouter une référence</a>
                {% endif %}
                <a class="button is-info is-light" href="{% url 'list-article' %}">Dashboard</a>
                <a class="button is-link is-light" href="{% url 'logout' %}">Se déconnecter</a>
              {% else %}
                <a class="button is-link is-light" href="{% url 'login' %}">S'authentifier</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
