{% extends "base.html" %}

{% block main %}
  <section class="hero is-fullheight-with-navbar">
    <div class="hero-body has-centered-content has-justified-content">
      <form method="post">
        {% csrf_token %}
        <p class="title has-text-centered">Êtes-vous certain de vouloir supprimer :</p>
        <p class="subtitle has-text-centered">{{ object }}</p>
        {{ form }}
        <div class="field is-grouped is-grouped-centered">
          <p class="control">
            <input class="button is-danger" type="submit" value="Confirmer">
          </p>
        </div>
      </form>
    </div>
  </section>
{% endblock main %}
